/* requisito 5 */

.display-flex {
    display: flex;
}

form {
    width: 675px;
}

/* requisito 6 */

.flex-dir-column {
    flex-direction: column;
}

/* requisito 7 */
#trybewarts-forms-logo {
    height: 500px;
    width: auto;
}